<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
	        point="org.eclipse.ui.startup">
	     <startup
	           class="eclipse.tools.Startup">
	     </startup>
	 </extension>    
	 <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="eclipse.actions.CreateTestCounterpartAction.contribution">
         <menu
               label="Taksan Utils"
               path="additions"
               id="Taksan.utils.menu">
            <separator
                  name="testGroup">
            </separator>
         </menu>
         <action
               label="Create test counterpart"
               class="eclipse.actions.CreateTestCounterpartAction"
               menubarPath="Taksan.utils.menu/testGroup"
               enablesFor="1"
               id="eclipse.actions.CreateTestCounterpartAction"
               definitionId="eclipse.actions.CreateTestCounterpartAction">
         </action>
      </objectContribution>
   </extension>
    
    
	<extension
       id="objective.eclipse.bindings"
       point="org.eclipse.ui.bindings">
		<key 
			sequence="Ctrl+0"
			commandId="eclipse.actions.CreateTestCounterpartAction"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			/>
	</extension>
   
 <extension
       id="objective.commands"
       point="org.eclipse.ui.commands">
     <command
        id="eclipse.actions.CreateTestCounterpartAction"
        name="CreateTestCounterpartAction">
     </command>
 </extension>
	 
  <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="eclipse.utils.createTestCounterpartEditorContribution"
           targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
        <action
              class="eclipse.actions.CreateTestCounterpartAction"
              definitionId="eclipse.actions.CreateTestCounterpartAction"
              id="eclipse.actions.CreateTestCounterpartAction"
              label="CreateTestCounterpartAction"
              style="push">
        </action>
     </editorContribution>
  </extension>
</plugin>
